<!-- Sidebar para Usuario -->
<mat-card class="sidebar-card">
  <div class="user-profile">
    <img src="../../../../assets/perfil_user.png" alt="User Photo" class="user-photo" />
    <div class="user-details">
      <h3>User</h3>
      <span class="title">Usuario</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-action-list>
    <button routerLink="/user/profile" mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
    </button>
    <button mat-list-item routerLink="/user/quizs">
      <mat-icon mat-list-icon>list</mat-icon>Listar Cuestionarios
    </button>
    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon>Cerrar Sesión
    </button>
  </mat-action-list>
</mat-card>

<!-- Listado de Categorías y Exámenes en el Dashboard del Usuario -->
<mat-card>
  <div mat-subheader>Categorías disponibles</div>
  <mat-action-list>
    <button [routerLink]="['/user-dashboard/', c.categoryId]" mat-list-item *ngFor="let c of categories">
      <mat-icon mat-list-icon>category</mat-icon> {{ c.title }}
    </button>
  </mat-action-list>
</mat-card>
