.dashboard-card {
  max-width: 300px;
  margin: auto;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.user-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;  /* Hace la imagen redonda */
  object-fit: cover;   /* Asegura que la imagen se ajuste sin deformarse */
  margin-right: 15px;
}

.user-details h3 {
  margin: 0;
  font-size: 16px; /* Tamaño de la fuente para el nombre del usuario */
  color: #333;     /* Color del texto para el nombre */
}

.user-details .user-role {
  margin: 0;
  font-size: 14px; /* Tamaño más pequeño para el rol */
  color: #666;     /* Color más suave para el rol */
}

mat-icon {
  color: #666;
}

mat-action-list button {
  width: 100%;
  text-align: left;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}
