<div id="weAre">
  <div class="centrado">
    <h1>Somos<span> TestByCode</span> tu Web de apoyo</h1>
    <p>Un equipo de educadores que trabajamos para
      el refuerzo académico de estudiantes.<br>
      <a href="#register" class="register-link" [routerLink]="'/signup'">
        ¿No tienes cuenta? Regístrate <span> aquí.</span>
      </a>
    </p>
  </div>
</div>

<div id="ordenador"></div>

<div id="materialize">
  <div class="centrado">
    <h2>Convertimos ideas en cuestionarios<br>
      digitales para facilitar el estudio.</h2>
    <div>
      <img src="assets/service-01.png" alt="">
      <h3> Cuestionarios </h3>
      <p>Creación de cuestionarios personalizados, <br>
        para cada asignatura y nivel académico.</p>
    </div>
    <div>
      <img src="assets/service-03.png" alt="">
      <h3> Diseño </h3>
      <p>Interfaces simples e intuitivas, <br>
        para ofrecer la mejor experiencia al usuario.</p>
    </div>
    <div>
      <img src="assets/service-02.png" alt="">
      <h3> Planificación </h3>
      <p>Ayudamos a los estudiantes a crear <br>
        un plan de estudio efectivo <br>
        para sus exámenes.</p>
    </div>
    <div>
      <img src="assets/service-04.png" alt="">
      <h3> Consejos </h3>
      <p>Ofrecemos recomendaciones útiles <br>
        para mejorar el rendimiento <br>
        en los exámenes.</p>
    </div>
  </div>
</div>

<div id="mesa"></div>

<div id="work">
  <div class="centrado">
    <h3>Seguimos <span>trabajando</span> estrechamente con estudiantes
      para mejorar sus resultados académicos.</h3>
    <img style="height: 400px; width: 920px;" src="../../../assets/fondo-18.jpg" alt="">
  </div>
</div>

<div id="whoWe">
  <div class="centrado">
    <div id="izq">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div id="dcha">
      <h4>Qué<span> hacemos</span>?</h4>
      <p>TestByCode es un pequeño equipo que comparte la misma pasión por la educación. Nos encanta crear test
        interactivos para que los estudiantes puedan repasar y prepararse para sus exámenes.</p>
    </div>
  </div>
</div>

<div id="lapiz"></div>
