* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 150;
}

$primary-color: #4a9248;
$secondary-color: #366a34;
$background-dark: #212121;
$background-light: #f5f5f5;
$text-color: #2f2f2f;
$link-color: #4a9248;
$link-hover-color: darken($link-color, 10%);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrado {
  width: 920px;
  margin: 0 auto;
  @media (max-width: 920px) {
    width: 100%;
    padding: 0 10px;
  }
}

#weAre {
  background-color: $background-dark;
  color: #fff;
  height: 340px;
  padding-top: 80px;
  font-weight: bold;
  text-align: center; // Center-align text for smaller screens

  h1 {
    font-size: 78px;
    line-height: 80px;
    width: 577px;
    float: left;

    span {
      color: $primary-color;
      font-weight: bold;
    }

    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 50px;
      width: 100%;
      float: none;
    }
  }

  p {
    float: left;
    width: 330px;
    padding-top: 130px;
    padding-left: 23px;
    font-size: 16px;
    line-height: 1.5;

    @media (max-width: 768px) {
      width: 100%;
      padding-top: 20px;
      padding-left: 0;
      float: none;
    }

    .register-link {
      color: #a7e59e;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#ordenador {
  height: 558px;
  background: {
    position: center;
    image: url(../../../assets/fondo-14.jpg);
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  
}

#materialize {
  background-color: white;
  overflow: hidden;
  padding: 75px 0 113px;
  line-height: 1.5;
  text-align: center; // Center-align text for smaller screens

  h2 {
    font-size: 54px;
    color: $text-color;
    padding-bottom: 54px;

    @media (max-width: 768px) {
      font-size: 36px;
      padding-bottom: 30px;
    }
  }

  .centrado {
    div {
      float: left;
      width: 50%;
      margin-bottom: 34px;

      @media (max-width: 768px) {
        width: 100%;
        float: none;
        text-align: left; // Left-align text for smaller screens
      }

      img {
        float: left;
        margin-right: 20px;

        @media (max-width: 768px) {
          float: none;
          display: block;
          margin: 0 auto 10px;
          width: 80%; // Adjust the width of the image
        }
      }

      h3 {
        color: $primary-color;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        padding-top: 30px;

        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 28px;
          padding-top: 20px;
        }
      }

      p {
        font-size: 15px;
        color: #878787;
        font-style: italic;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}

#mesa {
  height: 302px;
  background: {
    image: url(../../../assets/fondo-17.jpg);
    size: cover;
    position: center;
    attachment: fixed;
  }
}

#work {
  padding-bottom: 850px;
  height: 765px;
  padding-top: 60px;
  background-color: $background-light;

  h3 {
    padding: 20px 0 49px;
    width: 900px;
    font-size: 54px;
    color: $text-color;

    @media (max-width: 768px) {
      width: 100%;
      font-size: 36px;
      padding: 10px 0 30px;
    }

    span {
      color: $secondary-color;
      font-weight: bold;
    }
  }
}

#whoWe {
  color: $text-color;
  height: 786px;
  background-color: $background-light;
  padding-top: 60px;
  text-align: center; // Center-align text for smaller screens

  #izq {
    width: 524px;
    overflow: hidden;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
      float: none;
    }

    div {
      width: 258px;
      height: 196px;
      float: left;
      margin-right: 4px;
      margin-bottom: 4px;
      background-color: #fff;
      background-size: contain;
      background-repeat: no-repeat;

      &:nth-child(1) {
        background-image: url(../../../assets/team-3.jpg);
        &:hover {
          background-image: url(../../../assets/team-3_1.jpg);
        }
      }

      &:nth-child(2) {
        background-image: url(../../../assets/team-4.jpg);
        &:hover {
          background-image: url(../../../assets/team-7.jpg);
        }
      }

      &:nth-child(3) {
        background-image: url(../../../assets/team-5.jpg);
      }

      &:nth-child(4) {
        background-image: url(../../../assets/team-6.jpg);
      }

      &:nth-child(5) {
        background-image: url(../../../assets/team-7.jpg);
      }

      &:nth-child(6) {
        background-image: url(../../../assets/team-9.jpg);
      }

      @media (max-width: 768px) {
        width: 48%;
        float: none;
        margin: 0 auto 4px;
      }
    }
  }

  #dcha {
    width: 396px;
    float: left;
    padding-top: 144px;
    padding-left: 33px;

    @media (max-width: 768px) {
      width: 100%;
      float: none;
      padding-top: 20px;
      padding-left: 0;
    }

    h4 {
      font-size: 54px;

      @media (max-width: 768px) {
        font-size: 36px;
      }

      span {
        color: $secondary-color;
        font-weight: bold;
      }
    }

    p {
      font-size: 19px;
      line-height: 1.8; // Interlineado

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}

#lapiz {
  background: {
    image: url(../../../assets/fondo-3.jpg);
    height: 300px;
    size: cover;
  }
}
