<mat-card class="main-card">
  <div class="title-container">
    <span class="title">Agregar nueva categoría</span>
  </div>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Título</mat-label>
              <input
                required
                autofocus
                type="text"
                name="title"
                matInput
                placeholder="Inserte el título de la categoría"
                [(ngModel)]="category.title"
              >
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Descripción</mat-label>
              <textarea
                name="description"
                matInput
                placeholder="Inserte la descripción de la categoría"
                rows="15"
                [(ngModel)]="category.description"
              >
              </textarea>
              <i class="fas fa-plus-circle"></i>
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button>Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
