<div class="main-content">
  <div class="header">
    <h1>Perfil de Usuario</h1>
  </div>

  <div class="profile-card">
    <div class="profile-header text-center">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    </div>
    <div class="profile-details">
      <table class="profile-table">
        <tr>
          <td>Nombre de usuario</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <td>Rol</td>
          <td>{{ user.authorities[0].authority }}</td>
        </tr>
        <tr>
          <td>Estado</td>
          <td>{{ user.enabled ? "Activo" : "No activo" }}</td>
        </tr>
      </table>
    </div>
    <div class="action-buttons text-center">
      <button mat-raised-button color="primary" class="btn-update">Actualizar</button>
    </div>
  </div>
</div>
