.main-content {
  margin: 0 auto;
  padding: 50px;
  max-width: 90%;
  background: #f5f5f5;

  .header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2em;
      margin: 0;
      color: #040b03;
      font-weight: bold;
    }

    .underline-image {
      width: 80%;
      margin-top: 10px;
    }
  }

  .profile-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .profile-header {
      margin-bottom: 20px;

      .profile-image {
        max-width: 150px;
        max-height: 150px;
        border: 2px solid gainsboro;
        border-radius: 50%;
      }

      h2 {
        font-size: 1.5em;
        margin-top: 10px;
        color: #1b2d3e;
        font-weight: bold;
      }
    }

    .profile-details {
      .profile-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        td {
          padding: 10px 8px;
          border: 1px solid #ddd;
          text-align: left;
          color:#366a34;
          font-weight: bold;

          &:first-child {
            font-weight: bold;
            background-color: #f0f2ef;
            width: 40%;
            color: #3b4b38;
          }

          &:last-child {
            color: #3b4b38;
          }
        }
      }
    }

    .action-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      .btn-update {
        background-color: #3b4b38;
        color: white;
        font-size: 0.85em;
        font-weight: bold;
        padding: 0px 40px;

        &:hover {
          background-color: #b7f1ae;
        }
      }

    }
  }
}
