
<mat-card>
    <span><h2>Actualizar cuestionario</h2></span>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf = "quiz" (submit) = "actualizarDatos()">
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Título</mat-label>
            <input
            [(ngModel)] = "quiz.title"
            type="text"
            name="title"
            placeholder="Inserte el título"
            required
            matInput>
          </mat-form-field>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea
            [(ngModel)] = "quiz.description"
            type="text"
            name="description"
            placeholder="Inserte la descripción"
            matInput
            rows="8"></textarea>
          </mat-form-field>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Puntos máximos</mat-label>
                <input
                [(ngModel)] = "quiz.puntosMaximos"
                type="text"
                name="puntosMaximos"
                placeholder="Inserte la cantidad de puntos"
                matInput>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Número de preguntas</mat-label>
                <input
                [(ngModel)] = "quiz.numeroDePreguntas"
                type="text"
                name="numeroDePreguntas"
                placeholder="Inserte el número de preguntas"
                matInput>
              </mat-form-field>
            </div>
          </div>

          <mat-slide-toggle class="mt20" name = "activo" [(ngModel)] = "quiz.activo" color="primary">
            Estado de publicación
          </mat-slide-toggle>

          <mat-form-field appearance="fill" class="mt20 w100">
            <mat-label>Categorías</mat-label>
            <mat-select name="category" [(ngModel)] = "quiz.category.categoryId">
              <mat-option *ngFor = "let c of categories" [value] = "c.categoryId">
                {{ c.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>

