.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.mat-card-avatar {
  background-image: url('../../../../assets/exam.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
}

.mat-card-title,
.mat-card-subtitle {
  margin: 0;
}

.mat-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3b4b38;
}

.mat-card-subtitle {
  font-size: 0.9rem;
  color: #6c757d;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.mat-flat-button {
  background-color: #3b4b38;
  color: #ffffff;
}

.mat-stroked-button {
  color: #3b4b38;
}

.mat-icon-button {
  color: #3b4b38;
}

.mat-icon-button[color="warn"] {
  color: #ff6347;
}

.container.text-center {
  margin-top: 20px;
}
