<mat-card class="quiz-card mt10" *ngFor="let e of quizs">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ e.title }}</mat-card-title>
    <mat-card-subtitle>{{ e.category.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content">
      <button mat-flat-button color="primary" [routerLink]="'/admin/view-questions/'+e.quizId+'/'+e.title">Preguntas</button>
      <button mat-stroked-button color="primary">Puntos máximos {{ e.puntosMaximos }}</button>
      <button mat-stroked-button color="primary">Preguntas {{ e.numeroDePreguntas }}</button>
      <button [routerLink]="'/admin/quiz/'+e.quizId" mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteQuiz(e.quizId)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>

