<div class="contact-modal">
  <h1 mat-dialog-title>Contáctanos</h1>
  <div mat-dialog-content>
    <p>Puedes enviarnos un mensaje a través de este formulario.</p>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mensaje</mat-label>
      <textarea matInput [(ngModel)]="data.message"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data">Enviar</button>
  </div>
</div>
