.contact-modal {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #3b4b38;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-dialog-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
