.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 20px;
}

.bootstrap-wrapper {
  padding: 20px;
}

.instructions-card {
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.instructions-image {
  max-width: 80%;
  height: 100px;
  display: block;
  margin: 0 auto 20px;
}

.timer-card {
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.timer {
  font-size: 36px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 10px;
}

.quiz-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 20px;
}

.result-image {
  max-width: 80%;
  display: block;
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
}

.result-card {
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

}

.result-points, .result-correct {
  font-size: 20px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 10px;

}



.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mat-raised-button {
  background-color: #3b4b38;
  color: #ffffff;
}

.mat-icon-button {
  color: #3b4b38;
}

.mat-icon-button[color="warn"] {
  color: #ff6347;
}

.mat-divider {
  margin: 20px 0;
}

.question-card {
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


.mat-progress-spinner circle {
  stroke: var(--mat-spinner-stroke-color, #4caf50);
}
