<div class="bootstrap-wrapper" *ngIf="!isSubmitted">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <!--Instrucciones-->
        <mat-card class="mt-5 instructions-card">
          <mat-card-header>
            <mat-card-title>
              <b>Instrucciones:</b>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="assets/instrucciones.png" alt="Instrucciones Imagen" class="instructions-image mb-4">
            <ul>
              <li>No actualice la página, de lo contrario obtendrá nuevas preguntas en este Test</li>
              <li>No cambies las pestañas</li>
              <li>No minimices la ventana</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <!--Preguntas-->
        <ng-container *ngIf="questions">
          <mat-card class="mt-4">
            <mat-card-title>
              <h1 class="quiz-title">En curso <b>{{ questions[0].quiz.title }}</b></h1>
            </mat-card-title>
          </mat-card>
        </ng-container>

        <mat-card *ngFor="let p of questions; let i = index" class="mt-4 question-card">
          <mat-card-content>
            <p><b>{{ i+1 }}) <span [innerHTML]="p.content"></span></b></p>
            <mat-radio-group [(ngModel)]="p.respuestaDada">
              <mat-radio-button [value]="p.opcion1" class="d-block">{{ p.opcion1 }}</mat-radio-button>
              <mat-radio-button [value]="p.opcion2" class="d-block">{{ p.opcion2 }}</mat-radio-button>
              <mat-radio-button [value]="p.opcion3" class="d-block">{{ p.opcion3 }}</mat-radio-button>
              <mat-radio-button [value]="p.opcion4" class="d-block">{{ p.opcion4 }}</mat-radio-button>
            </mat-radio-group>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt-4 mb-4">
          <button (click)="submitQuiz()" mat-raised-button color="primary">Enviar test</button>
        </div>
      </div>
      <div class="col-md-3">
        <!--Progreso-->
        <mat-card class="mt-5 timer-card">
          <mat-card-header>
            <mat-card-title>
              Tiempo Restante
            </mat-card-title>
            <mat-card-subtitle>
              El test se enviará automáticamente cuando el temporizador llegue a cero.
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="text-center">
            <div class="timer-wrapper">
              <h1 class="timer">{{ getFormattedTime() }}</h1>
              <mat-progress-spinner [ngStyle]="{'--mat-spinner-stroke-color': '#4caf50'}" mode="determinate" [value]="(timer / (questions?.length * 2 * 60) * 100)" diameter="100" strokeWidth="10">
              </mat-progress-spinner>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isSubmitted">
  <div class="container mt-4">
    <div class="col-md-8 offset-md-2">
      <mat-card class="result-card">
        <mat-card-header class="text-center">
          <mat-card-title class="title">
            Resultado de la Prueba
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <img src="assets/tiempo.png" alt="Result Image" class="result-image mb-4">
          <h2 class="result-points">Puntos Conseguidos: {{ puntosConseguidos }}</h2>
          <h2 class="result-correct">Respuestas Correctas: {{ respuestasCorrectas }}</h2>
        </mat-card-content>
        <mat-card-content>
          <div *ngFor="let p of questions; let i = index" class="mt-4 question-card">
            <mat-card-content>
              <p><b>{{ i+1 }}) <span [innerHTML]="p.content"></span></b></p>
              <div *ngIf="p.respuestaDada === p.respuestaCorrecta; else incorrectAnswer">
                <p class="correct-answer">Tu respuesta: {{ p.respuestaDada }} - <span class="text-success">Correcta</span></p>
              </div>
              <ng-template #incorrectAnswer>
                <p class="incorrect-answer">Tu respuesta: {{ p.respuestaDada }} - <span class="text-danger"><b>Incorrecta</b></span></p>
              </ng-template>
            </mat-card-content>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button (click)="printPage()" mat-raised-button color="primary">Imprimir</button>
          <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">Inicio</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
