<div class="background-blur"></div>
<div class="login__wrapper">
  <mat-card class="login__card">
    <button mat-fab class="surf-circle" aria-label="Logo de TC">
      <img src="../../../assets/logo-sfd.png" alt="TestByCode">
    </button>

    <form class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="login__full-width">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput [(ngModel)]="loginData.username" name="email" required>
      </mat-form-field>

      <mat-form-field class="login__full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput [(ngModel)]="loginData.password" name="password" required>
      </mat-form-field>

      <button mat-raised-button class="login__full-width login__btn-login">Iniciar sesión</button>
      <div class="login__actions">
        <button mat-button class="btn-forgot">¿Olvidaste la contraseña?</button>
        <button mat-button class="btn-signup">¿No tienes cuenta? Regístrate</button>
      </div>
    </form>
  </mat-card>
</div>
