.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/fondo-12.jpg') center/cover no-repeat;
  filter: blur(3px);
  z-index: -1;
}
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

}

.login-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding-top: 80px;
  background: rgba(255, 255, 255, 0.7);

}

.surf-circle {
  position: absolute;
  top: -60px; /* Ajustar según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  background-color: white; /* Puedes cambiar esto si prefieres otro color o quitarlo si usarás una imagen */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Importante para mantener la imagen dentro del círculo */
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.surf-circle img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

.full-width {
  width: 100%;
}

.btn-login {
  margin-top: 20px;
  background-color: #366a34;
  color: white;
}

.btn-login:hover {
  background-color: #b7f1ae;
  ;
}


.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.btn-forgot, .btn-signup {
  color: #366a34;
}

@media (max-width: 480px) {
  .surf-circle {
    top: -30px; /* Ajuste fino para pantallas muy pequeñas */
    width: 70px;
    height: 70px;
  }

  .login-card {
    padding-top: 50px; /* Ajuste superior más pequeño */
  }
}
