<div class="background-blur"></div>
<div class="login-wrapper">
  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="registration-panel d-flex">
      <!-- Área de imagen a la izquierda -->
      <div class="registration-panel__image-section">
        <img src="../../../assets/fondo.jpg" alt="Descripción de la imagen" class="registration-panel__image">
      </div>
      <!-- Área de formulario a la derecha -->
      <div class="registration-panel__form-section">
        <div class="registration-panel__form-card">
          <form class="form-signup" (ngSubmit)="formSubmit()">
            <!-- Campos del formulario -->
            <mat-form-field class="form-field">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput required [(ngModel)]="user.username" name="username">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput required [(ngModel)]="user.password" name="password">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Email</mat-label>
              <input type="email" matInput required [(ngModel)]="user.email" name="email">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Nombre</mat-label>
              <input matInput required [(ngModel)]="user.firstName" name="firstName">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Apellido</mat-label>
              <input matInput required [(ngModel)]="user.lastName" name="lastName">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Teléfono</mat-label>
              <input matInput [(ngModel)]="user.phone" name="phone">
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-label>Roles</mat-label>
              <mat-select [(ngModel)]="selectedRoles" multiple name="roles">
                <mat-option *ngFor="let role of roles" [value]="role.rolName">
                  {{ role.rolName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form-actions text-center">
              <button mat-raised-button color="primary" class="btn-login">Registrar</button>
              <button type="reset" mat-raised-button color="accent" class="btn-login" (click)="clearForm()">Limpiar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
