.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/fondo.jpg') center/cover no-repeat;
  filter: blur(3px);
  z-index: -1;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.registration-panel {
  display: flex;
  width: 75%;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;

  &__image-section,
  &__form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image-section {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;

    &__form-card {
      background: rgba(255, 255, 255, 0.95);
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    }
  }
}

.form-field {
  width: 100%;
  margin-bottom: 6px;
  padding: 0 8px;
}

.btn-login {
  width: 100%;
  margin-top: 10px;
  background-color: #366a34;
  color: white;

  &:hover {
    background-color: #b7f1ae;
  }
}

.form-actions {
  text-align: center;
}
