<h1 class="title">Categorías</h1>
<div class="underline-container">
</div>

<div class="bootstrap-wrapper">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <mat-card *ngFor="let c of categories" class="mt20 category-card">
        <mat-card-content class="category-content-wrapper">
          <div class="category-header">
            <div class="category-title">
              <p class="category-content">
                <b>{{ c.title }}</b>
              </p>
            </div>
            <div class="actions">
              <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <p class="category-description">
            {{ c.description }}
          </p>
        </mat-card-content>
      </mat-card>
      <div class="container text-center mt20">
        <button mat-raised-button color="primary" [routerLink]="'/admin/add-category'">
          Agregar categoría
        </button>
      </div>
    </div>
  </div>
</div>
