.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3b4b38;
  padding-top: 20px;
}

.underline-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline-image {
  width: 80%;
  margin-top: 10px;
}

.bootstrap-wrapper {
  padding: 10px;
}

.category-card {
  margin-bottom: 20px;
  padding: 10px;
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-content-wrapper {
  display: flex;
  flex-direction: column;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-content {
  font-size: 18px;
  font-weight: bold;
  color: #3b4b38;
}

.category-description {
  font-size: 14px;
  color: #3b4b38;
  margin-top: 5px;
}

.actions {
  display: flex;
  gap: 10px;
}

.mat-raised-button {
  background-color: #3b4b38; /* Verde oliva */
  color: #ffffff;
}

.mat-icon-button {
  color: #3b4b38; /* Verde oliva */
}

.mat-icon-button[color="warn"] {
  color: #ff6347; /* Color de advertencia */
}
