.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 20px;
  padding-top: 40px;
}

.bootstrap-wrapper {
  padding: 20px;
}

.question-card {
  margin-bottom: 20px;
  padding: 10px;
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-content {
  font-size: 16px;
  color: #3b4b38;
  margin-bottom: 10px;
}

.option-row {
  margin-bottom: 10px;
}

.option-row p {
  font-size: 14px;
  color: #3b4b38;
}

.correct-answer {
  font-size: 16px;
  font-weight: bold;
  color: #3b4b38;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.mat-raised-button {
  background-color: #3b4b38;
  color: #ffffff;
}

.mat-icon-button {
  color: #3b4b38;
}

.mat-icon-button[color="warn"] {
  color: #ff6347;
}
