<h1 class="title">Preguntas de {{ title }}</h1>

<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="container text-center">
        <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+quizId+'/'+title">
          Agregar pregunta
        </button>
      </div>
      <mat-card *ngFor="let p of questions; let i = index" class="mt20 question-card">
        <mat-card-content>
          <p class="question-content">
            <b>{{ i + 1}})</b>
            <span class="ml20" [innerHTML]="p.content"></span>
          </p>
          <div class="container-fluid">
            <div class="row option-row">
              <div class="col-md-6">
                <p>a) <span>{{ p.opcion1 }}</span></p>
              </div>
              <div class="col-md-6">
                <p>b) <span>{{ p.opcion2 }}</span></p>
              </div>
            </div>
            <div class="row option-row">
              <div class="col-md-6">
                <p>c) <span>{{ p.opcion3 }}</span></p>
              </div>
              <div class="col-md-6">
                <p>d) <span>{{ p.opcion4 }}</span></p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20 correct-answer">
              <b>Respuesta correcta: {{ p.respuesta }}</b>
            </p>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-icon-button (click)="deleteQuestion(p.questionId)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="'/admin/question/'+p.questionId" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
