.main-content {
  .header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      padding-top: 25px;
      font-size: 2em;
      font-weight: bold;
      color: #3b4b38; /* Tono de letra */
    }

    p {
      font-size: 1em;
      color: #666;
    }
  }

  .dashboard-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .stat-card {
      background: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2.stat-title {
        font-size: 1.2em;
        margin-bottom: 10px;
        color: #3b4b38; /* Tono de letra */
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        font-weight: bold;
      }

      .balance-details {
        .amount {
          font-size: 1.5em;
          font-weight: bold;
          color: #3b4b38; /* Tono de letra */
        }
      }

      canvas {
        max-width: 100%;
        max-height: 150px; /* Ajustar según sea necesario */
      }
    }
  }
}
