<div class="main-content">
  <div class="header">
    <h1>Bienvenido al Panel de Administración</h1>
    <p>Aquí puedes gestionar de manera eficiente todos los aspectos cruciales de la plataforma TestByCode.</p>
  </div>

  <div class="dashboard-stats">
    <div class="stat-card total-balance">
      <h2 class="stat-title">Total de Cuestionarios</h2>
      <div class="balance-details">
        <span class="amount">120</span>
        <div class="balance-breakdown">
          <span>Cuestionarios completos: 80</span><br>
          <span>Cuestionarios pendientes: 40</span>
        </div>
      </div>
    </div>

    <div class="stat-card comparison">
      <h2 class="stat-title">Comparación de Resultados</h2>
      <canvas #barChart></canvas>
    </div>

    <div class="stat-card top-list">
      <h2 class="stat-title">Mejores Cuestionarios</h2>
      <p>Los cuestionarios más populares y mejor valorados por los usuarios.</p>
    </div>

    <div class="stat-card support">
      <h2 class="stat-title">Soporte</h2>
      <p>Obtén ayuda y soporte técnico cuando lo necesites.</p>
      <p>Teléfono: 123-456-7890</p>
      <p>Email: support@testbycode.com</p>
    </div>

    <div class="stat-card resultados-preguntas">
      <h2 class="stat-title">Resultados de Preguntas</h2>
      <canvas #doughnutChart1></canvas>
    </div>

    <div class="stat-card resultados-cuestionarios">
      <h2 class="stat-title">Resultados de Cuestionarios</h2>
      <canvas #doughnutChart2></canvas>
    </div>
  </div>
</div>
