.w100 {
  width: 100%;
}

.main-card {
  background-color: #f0f2ef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  color: #3b4b38; /* Tono de letra */
}

.underline-image {
  width: 80%;
  margin-top: 10px;
}

.bootstrap-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mt20 {
  margin-top: 20px;
}

.submit-button {
  background-color: #366a34; /* Verde oscuro */
  color: #fff;
}
