<mat-card class="main-card">
  <div class="title-container">
    <span class="title">Agregar nuevo cuestionario</span>
  </div>
  <div class="underline-container">
  </div>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="guardarCuestionario()">
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Título</mat-label>
              <input
                [(ngModel)]="quizData.title"
                type="text"
                name="title"
                required
                placeholder="Inserte el título"
                matInput>
            </mat-form-field>
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Descripción</mat-label>
              <textarea
                [(ngModel)]="quizData.description"
                type="text"
                name="description"
                placeholder="Inserte la descripción"
                matInput
                rows="8"></textarea>
            </mat-form-field>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Puntos máximos</mat-label>
                  <input
                    [(ngModel)]="quizData.puntosMaximos"
                    type="text"
                    name="puntosMaximos"
                    placeholder="Inserte la cantidad de puntos"
                    matInput>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w100" appearance="fill">
                  <mat-label>Número de preguntas</mat-label>
                  <input
                    [(ngModel)]="quizData.numeroDePreguntas"
                    type="text"
                    name="numeroDePreguntas"
                    placeholder="Inserte el número de preguntas"
                    matInput>
                </mat-form-field>
              </div>
            </div>

            <mat-slide-toggle class="mt20" name="activo" [(ngModel)]="quizData.activo" color="primary">
              Estado de publicación
            </mat-slide-toggle>

            <mat-form-field appearance="fill" class="mt20 w100">
              <mat-label>Categorías</mat-label>
              <mat-select name="categoria" [(ngModel)]="quizData.category.categoryId">
                <mat-option *ngFor="let c of categories" [value]="c.categoryId">
                  {{ c.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" class="submit-button">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
