<div class="bootstrap-wrapper">
    <div class="row mt20">
      <div class="col-md-12">
        <h1>Actualizar preguntas a <span style="font-weight: bold;">{{ question.quizz.title }}</span></h1>
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>
                Inserte los detalles de la pregunta
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form class="mt20" *ngIf = "question" (ngSubmit) = "actualizarDatosDeLaPregunta()">
              <mat-form-field class="w100">
                <mat-label>Inserte el contenido de la pregunta</mat-label>
                <textarea rows="8" matInput placeholder="Escribe aquí" name="content" [(ngModel)] = "question.content"></textarea>
              </mat-form-field>
  
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Inserte la opción 1</mat-label>
                    <input
                    type="text"
                    matInput
                    name="opcion1"
                    [(ngModel)] = "question.opcion1">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Inserte la opción 2</mat-label>
                    <input
                    type="text"
                    matInput
                    name="opcion2"
                    [(ngModel)] = "question.opcion2">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Inserte la opción 3</mat-label>
                    <input
                    type="text"
                    matInput
                    name="opcion3"
                    [(ngModel)] = "question.opcion3">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w100">
                    <mat-label>Inserte la opción 4</mat-label>
                    <input
                    type="text"
                    matInput
                    name="opcion4"
                    [(ngModel)] = "question.opcion4">
                  </mat-form-field>
                </div>
              </div>
  
              <mat-form-field class="w100">
                <mat-label>Seleccione la respuesta</mat-label>
                <mat-select [(ngModel)] = "question.respuesta" name="respuesta">
                  <mat-option *ngIf = "question.opcion1" [value] = "question.opcion1">{{ question.opcion1 }}</mat-option>
                  <mat-option *ngIf = "question.opcion2" [value] = "question.opcion2">{{ question.opcion2 }}</mat-option>
                  <mat-option *ngIf = "question.opcion3" [value] = "question.opcion3">{{ question.opcion3 }}</mat-option>
                  <mat-option *ngIf = "question.opcion4" [value] = "question.opcion4">{{ question.opcion4 }}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <div class="container text-center">
                <button mat-raised-button color="primary">Actualizar</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  