.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 20px;
}

.bootstrap-wrapper {
  padding: 20px;
}

.instructions-card {
  background: #f0f2ef;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.instructions-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.instructions-title {
  font-size: 20px;
  font-weight: bold;
  color: #3b4b38;
  margin-top: 20px;
  margin-bottom: 10px;
}

.instructions-list {
  font-size: 16px;
  color: #3b4b38;
  margin-left: 20px;
}

.mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-card {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-image {
  max-width: 100%;
  height: auto;
}

.result-points, .result-correct {
  font-size: 20px;
  font-weight: bold;
  color: #3b4b38;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mat-raised-button {
  background-color: #3b4b38;
  color: #ffffff;
}

.mat-icon-button {
  color: #3b4b38;
}

.mat-icon-button[color="warn"] {
  color: #ff6347;
}

.mat-divider {
  margin: 20px 0;
}

.question-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
