<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <mat-card class="instructions-card mt-4">
          <mat-card-header class="text-center">
            <img src="../../../../assets/service-04.png" style="width: 80px; height: 80px;" alt="Instrucciones Imagen" class="instructions-image mb-4">
            <mat-card-title class="title">
              Lea las instrucciones de esta página cuidadosamente
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="instructions-content mt-4">
              <h2 class="instructions-title">Instrucciones importantes: </h2>
              <ul class="instructions-list">
                <li>Este test es solo para fines de práctica</li>
                <li>Tienes que enviar el test en <b>{{ quiz.numeroDePreguntas * 2 }} minutos</b></li>
                <li>Hay <b>{{ quiz.puntosMaximos / quiz.numeroDePreguntas }} puntos por pregunta</b></li>
                <mat-divider></mat-divider>
              </ul>
              <h2 class="instructions-title mt-4">Intentos de la prueba</h2>
              <ul class="instructions-list">
                <li>Presione el botón <b>Empezar</b> para iniciar el cuestionario</li>
                <li>El tiempo comenzará en el momento en que haga clic en el botón de inicio</li>
                <li>Desplácese hacia abajo para pasar a la siguiente pregunta</li>
                <li>Haga clic en el botón enviar test al finalizar el test</li>
                <li>El informe de la prueba se genera automáticamente en forma de copia PDF</li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-actions class="text-center mb-4">
            <button (click)="startQuiz()" mat-raised-button color="primary">
              Comenzar Test
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
