<!-- Sidebar -->
<mat-card class="sidebar-card">
  <div class="user-profile">
    <img src="../../../../assets/admin.jpg" alt="User Photo" class="user-photo" />
    <div class="user-details">
      <span class="title">Administrador</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-action-list>
    <button routerLink="/admin" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>Inicio
    </button>
    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
    </button>
    <button mat-list-item routerLink="/admin/categories">
      <mat-icon mat-list-icon>list</mat-icon>Categorías
    </button>
    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar categoría
    </button>
    <button mat-list-item routerLink="/admin/quizs">
      <mat-icon mat-list-icon>visibility</mat-icon>Ver cuestionarios
    </button>
    <button mat-list-item routerLink="/admin/add-quiz">
      <mat-icon mat-list-icon>add</mat-icon>Agregar cuestionario
    </button>
    <button mat-list-item routerLink="/admin/analytics">
      <mat-icon mat-list-icon>bar_chart</mat-icon>Estadísticas
    </button>
    <button mat-list-item routerLink="/admin/settings">
      <mat-icon mat-list-icon>settings</mat-icon>Configuración
    </button>
    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon>Salir
    </button>
  </mat-action-list>
</mat-card>
