<ngx-ui-loader
   fgsColor = "#b7f1ae"
   pbColor = "#b7f1ae"
   text = "Cargando, espere por favor !!"
   textColor = "#b7f1ae">
</ngx-ui-loader>
<div ngxUiLoaderBlurred (blur) = "10">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
