
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Playfair Display', serif;
$navbar-padding-top: 65px;
$toolbar-padding: 0 18px;
$toolbar-bg-color: #fff;
$toolbar-box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
$custom-snackbar-bg-color: #e85c4b;
$custom-snackbar-color: #1b2d3e;
$custom-snackbar-action-color: #c9e84b;
$primary-color: #366a34;
$hover-color: #b7f1ae;
$background-url: '../../../assets/fondo-12.jpg';
$logo-url: '../../../assets/logo-sfd.png';
