@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevenir scroll horizontal */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 65px; /* Ajustar espacio para el navbar */
}

/* Márgenes Personalizados */
.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.custom-snackbar {
  color: #1b2d3e;
  background-color: #e85c4b;
}

.custom-snackbar .mat-simple-snackbar-action {
  color: #c9e84b;
}


.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2em; /* Ajusta el tamaño según sea necesario */
  font-weight: bold;
  color: #3b4b38; /* Color de la letra */
  margin-bottom: 10px;
}

.underline-image {
  width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-top: 10px;
}

button.mat-raised-button {
  background-color: #366a34 !important; /* Verde oscuro */
  color: white !important;
}

button.mat-raised-button.mat-accent {
  background-color: #b7f1ae !important; /* Verde claro */
  color: #3b4b38 !important;
}
