@import 'variables';

@font-face {
  font-family: 'Playfair Display';
  src: url('assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevenir scroll horizontal */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 65px; /* Ajustar espacio para el navbar */
}

/* Márgenes Personalizados */
.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.custom-snackbar {
  color: #1b2d3e;
  background-color: #e85c4b;
}

.custom-snackbar .mat-simple-snackbar-action {
  color: #c9e84b;
}
