.main-content {
  margin: 0 auto;
  padding: 50px;
  max-width: 90%;

  .header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2em;
      margin: 0;

      font-weight: bold;
    }

    .underline-image {
      width: 80%;
      margin-top: 10px;
    }
  }

  .quiz-card {
    background: #f0f2ef;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

    .mat-card-header {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
    }

    .mat-card-avatar {
      background-image: url('../../../../assets/exam.jpg');  /* Ajustar la ruta según sea necesario */
      background-size: cover;
      width: 50px;
      height: 50px;
    }

    .mat-card-title,
    .mat-card-subtitle {
      margin: 0;
    }

    .mat-card-title {
      font-size: 1.1rem;
      font-weight: bold;

    }

    .mat-card-subtitle {
      font-size: 0.9rem;
      color: #6c757d;
    }

    .card-content {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

      span {
        margin-top: 10px;
        font-size: 0.9em;
    /* Ajustar los tonos de letra */
      }
    }

    .mat-stroked-button {
      background-color: #366a34;
      color: #ffffff;
      font-weight: bold;
      &:hover {
        background-color: #2e5d2a;  /* Un tono más oscuro para el hover */
      }
    }
  }
}
