<div class="main-content">
  <div class="header">
    <h1>Cuestionarios disponibles</h1>
  </div>
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row mt20" *ngIf="quizs">
        <div class="col-md-12">
          <mat-card class="quiz-card mt10" *ngFor="let e of quizs">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ e.title }}</mat-card-title>
              <mat-card-subtitle>{{ e.category.title }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ e.description }}</p>
              <div class="card-content">
                <button mat-stroked-button color="primary" [routerLink]="'/user-dashboard/instrucciones/' + e.quizId">Empezar</button>
                <span>Preguntas: <b>{{ e.numeroDePreguntas }}</b></span>
                <span>P.M: <b>{{ e.puntosMaximos }}</b></span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-12" *ngIf="quizs.length == 0">
          <mat-card>
            <mat-card-content>
              <h1>No hay cuestionarios en esta categoría</h1>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
