<div id="footer">
  <div class="centrado">

    <div id="izq_h">
      <h6><span>Dí Hola!</span></h6>
      <p>Nos encantaría responder a cualquier pregunta<br>
        que tengas. Envíanos un correo electrónico<br>
        o visítanos.</p>
        <p>&copy; 2024 TestByCode. All rights reserved.</p>
    </div>

    <div id="dcha_h">

      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>

      <a href="mailto:hola@testbycode.com" id="email">hola@testbycode.com</a>
      <a href="tel:+351 253 681 014" id="tfno">+34 670 681 014</a>
    </div>


  </div>
</div>
