* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 150;
  position: relative;
}

.centrado {
  width: 920px;
  margin: 0 auto;
}


#footer {
  height: 310px;
  background-color: #f0f2ef;
  padding-top: 50px;

}

#izq_h {
  width: 50%;
  float: left;
}


#izq_h h6 {
  font-size: 80px;
  color: #2f2f2f;

}

#izq_h h6 span {
  color: #366a34;
  font-weight: bold;

}

#izq_h p {
  color: #000;
  font-size: 20px;

}

#dcha_h {
  width: 50%;
  float: left;
  padding-top: 28px;

}

#dcha_h ul {
  list-style: none;
  overflow: hidden;
  padding-bottom: 31px;
}

#dcha_h li {
  float: left;
  margin-right: 37px;
}

#dcha_h li a {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url(../../../assets/socials-icon.png);
  background-repeat: no-repeat;
}


#dcha_h li:nth-child(1) a {
  background-position: 0px 0px;
}

#dcha_h li:nth-child(1) a:hover {
  background-position: 0px -45px;
}

#dcha_h li:nth-child(2) a {
  background-position: -45px 0px;
}

#dcha_h li:nth-child(2) a:hover {
  background-position: -45px -45px;
}


#dcha_h li:nth-child(3) a {
  background-position: -90px 0px;
}

#dcha_h li:nth-child(3) a:hover {
  background-position: -90px -45px;
}


#dcha_h li:nth-child(4) a {
  background-position: -135px 0px;
}

#dcha_h li:nth-child(4) a:hover {
  background-position: -135px -45px;
}


#email {
  background-image: url(../../../assets/mailicon.svg);
  margin-right: 21px;
}

#tfno {
  background-image: url(../../../assets/phoneicon.svg);
}

#email,
#tfno {
  font-style: italic;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  background-repeat: no-repeat;
  padding-left: 28px;
  background-position: left center;
}

#email:hover,
#tfno:hover {
  color: #366a34;
}
