<div id="content" tabindex="-1">
  <div class="container">
    <h1 class="title-1">Regístrese para ver aula digital</h1>
    <p class="title-2">¡Ya casi está! Solo puede acceder al aula si tiene una cuenta de TestByCode.</p>
    <div class="b-1">
      <button class="b1 b2 b3" [routerLink]="'/signup'" type="button"
        data-testid="request-access-signup-button">Regístrese
      </button>
    </div>
    <div>
      <button class="b2-1 b2-2 b2-3" type="button" data-testid="request-access-login-button">
        <a [routerLink]="'/login'">¿Ya tiene una cuenta? Inicie sesión</a>
      </button>
    </div>
  </div>
  <div class="foto-home">
    <img alt="" class="img-home" src="../../../assets/fotohome.svg">
    <img alt="" class="fondo-pie" src="/assets/fondopie.png">
  </div>
</div>
