button {
  color: #172b4d;
  font-display: swap;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

div,
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: isolate;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 0 0 12px;
  unicode-bidi: isolate;
}

.container {
  width: 400px;
  padding-top: 125px;
  padding-left: 20%;
  z-index: 0;
}

#content {
  flex-grow: 1;
  outline: none;
  overflow-y: auto;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.button,
button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
}

.b-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.b2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  font-display: swap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  box-shadow: none;
  border-radius: 4px;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.b3 {
  background-color: #366a34;
  color: white;
  box-shadow: none;
  border-radius: 4px;
  font-weight: bold;
  padding: 7px 60px;
}

.b3:hover {
  background-color: #b7f1ae;
  color: #366a34;
}

.b2-3 {
  background-color: transparent;
}

.b2-2 {
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.b2-3 a {
  text-decoration: none;
  color: #366a34;
  white-space: nowrap;
  font-weight: bold;
  width: 100%;
}

.b2-3 a:hover {
  text-decoration: underline;
}

.b1,
.b2-1 {
  width: 100%;
  /* Ocupa todo el ancho en pantallas pequeñas */
  margin: 10px 0;
  /* Añade espacio verticalmente entre botones */
}

.b2-1,
.b2-2,
.b2-3 {
  width: 100%;
  /* Asegura responsividad */
}

.title-1 {
  height: 40px;
  width: 511px;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 12px;
  line-height: 28px;
  white-space: nowrap;
}

.title-2 {
  height: 40px;
  width: 511px;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 30px;

}

.foto-home {
  display: flex;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.img-home {
  position: absolute;
  width: 651px;
  height: 532px;
  bottom: 10px;
  right: 86px;
  max-width: 30%;
}

.fondo-pie {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

button {
  margin-bottom: 8px; /* Reduce el margen inferior del botón */
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
  border: 0;
}

/* Estilos adicionales para dispositivos móviles */
@media only screen and (max-width: 750px) {
  .container {
    max-width: 400px;
    padding-top: 125px;
  }

  .buttons {
    flex-direction: row;
  }

  .button {
    width: auto;
    margin-right: 10px;
  }

  .b1 {
    margin-right: 40px;
  }

  .img-home {
    display: none;
  }
}
