.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  background-color: #fff;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
  position: fixed; /* Cambiado a 'fixed' */
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  color: #3b4b38;
  height: 65px;
  justify-content: space-between;
}

.toolbar:hover {
  box-shadow: 0 8px 16px -1px rgba(0, 0, 0, 0.3);
}

.toolbar-logo {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.toolbar-title {
  font-family: "PlayFair-Display";
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.toolbar-spacer {
  flex-grow: 1;
}

.user-icon, .contact-button {
  margin-right: 8px;
}

a.mat-button, button.mat-raised-button, button.mat-button {
  margin-left: 8px;
  display: flex;
  align-items: center; /* Alineación vertical de ícono y texto */
}

button.mat-raised-button {
  background-color: #366a34; /* Color personalizado */
  color: white;
}

.login-button {
  font-size: 20px;
}

.icon-button .mat-icon .menu-button {
  font-size: 28px !important; /* Tamaño más grande para mayor visibilidad */
  height: 35px !important;
  width: 35px !important;
}

.user-button, .login-button, .contact-button, .menu-button {
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.user-button:hover, .login-button:hover {
  background-color: #b7f1ae;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
  background-color: #b7f1ae;
  color: #366a34;
}

.user-name {
  font-size: 16px;
}

.mat-icon {
  margin-right: 8px;
}

.mat-raised-button.contact-button {
  border-radius: 4px;
}

.mat-icon.phone {
  font-size: 22px;
}

:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .toolbar-logo {
    width: 35px;
    height: auto;
  }

  .toolbar-title {
    font-size: 20px;
  }

  .login-button, .contact-button {
    display: none;
  }

  .contact-button, .icon-button {
    display: none;
  }
}
