<div class="toolbar" role="banner">
  <a [routerLink]="'/'">
    <img width="40" class="toolbar-logo" alt="TestByCode Logo" src="../../../assets/letras.png" />
  </a>
  <span class="toolbar-title">TestByCode</span>
  <div class="toolbar-spacer"></div>
  <!-- Botón de búsqueda con efecto de hover -->
  <button mat-icon-button aria-label="Buscar" class="icon-button">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>

  <!-- Botón de iniciar sesión o mostrar nombre de usuario -->
  <ng-container *ngIf="isLoggedIn && user; else loginTemplate">
    <button mat-button class="user-button" [matMenuTriggerFor]="userMenu">
      <mat-icon class="user-icon">person</mat-icon>
      <span class="user-name">{{ user.firstName }}</span>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/admin'">Panel</button>
      <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </mat-menu>
  </ng-container>
  <ng-template #loginTemplate >
    <button mat-button class="login-button d-none d-md-inline" [routerLink]="'/login'" title="Inicia Sesión">
      <i class="fa-regular fa-circle-user" style="margin-right: 8px;"></i>
      <span style="font-size:17px;">Iniciar sesión</span>
    </button>
  </ng-template>

  <button mat-raised-button color="warn" class="contact-button" [routerLink]="'/contact'" title="Contáctanos">
    <span class="d-none d-md-inline">Contáctanos</span>
    <!-- Este icono se mostrará en pantallas más pequeñas -->
    <mat-icon class="d-md-none">phone</mat-icon>
  </button>

  <!-- Menú desplegable con link para registrar -->
  <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" aria-label="Menu de navegación">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/'">Inicio</button>
    <button mat-menu-item [routerLink]="'/login'">Entrar</button>
    <button mat-menu-item [routerLink]="'/signup'">Registrarse</button>
    <button mat-menu-item [routerLink]="'/'">Volver</button>
  </mat-menu>
</div>
